# A 150 MB textbook that we could always re-download.
resources_unit_1/Astronomy-OpenStax.pdf

# A video that isn't ours to redistribute, but the owner's
# website is now taken by a squatter:
resources_unit_1/PixzulZodiac.mp4

